<div class="b-isf-search">
    <input class="b-isf-input" type="text" ng-model="search.userName" placeholder="Пользователь github">
    <button type="button" ng-click="search.getUserRepos(search.userName)"
            ng-disabled="!search.userName">
        Получить репо
    </button>
    <br>

    <select class="b-isf-input" ng-model="search.repoName" ng-options="repo.name for repo in search.reposList"
            ng-hide="search.reposList == null" ng-change="search.getRepoIssues(search.userName, search.repoName.name)">
        <option value="">Выберете репозиторий</option>
    </select>
</div>