<div class="b-width">
    <div class="b-issues">
        <div class="b-iss-input">
            <input type="text" ng-model="issues.userName" placeholder="Пользователь">
            <span>/</span>
            <input type="text" ng-model="issues.repoName" placeholder="Репозиторий">
            <button type="button" ng-click="issues.getRepoData(issues.userName, issues.repoName)">Получить данные
            </button>
        </div>
        <div class="b-iss-data">
            <div class="b-iss-d-table b-iss-d-table--striped">
                <div class="b-iss-d-table-body">
                    <div class="b-iss-d-table-tr" ng-repeat="item in issues.issuesData">
                        <div class="b-iss-d-table-td">
                            <issue-user-data user-data="item.user"></issue-user-data>
                        </div>
                        <div class="b-iss-d-table-td">
                            <issue-info issue-data="item"></issue-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>