<div class="b-width">
    <div class="b-issues">
        <issue-search-form get-repo-issues="issues.getRepoIssues"></issue-search-form>

        <div class="b-iss-data">
            <div class="b-iss-d-table b-iss-d-table--striped">
                <div class="b-iss-d-table-body">
                    <div class="b-iss-d-table-tr" ng-repeat="item in issues.issuesData">
                        <div class="b-iss-d-table-td">
                            <issue-user-data user-data="item.user"></issue-user-data>
                        </div>
                        <div class="b-iss-d-table-td">
                            <issue-info issue-data="item"></issue-info>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-iss-data--clear" ng-if="issues.issuesData.length == 0">
            <hr>
            <p style="text-align: center;">Нет данных для отображения</p>
        </div>
    </div>
</div>